



<!-- /gPosts/:id

http.get('/gPosts/' + post_id, function (post) { // do somethign with the post that you get });



/:param
req.params.param



/?searchQuery=asdf
req.query.searchQuery



http.post('/pPost', {post_title: 'title', post_body: 'text'} ,function (post) { // do somethign with the post that you get });
req.body.post_title;
req.body.post_text;

<form action="/pPost">
  <input name="title">
</form> -->
